p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: roboto, sans-serif;
  background-color: #ffffff;
  background-image: url(./../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.header {
  margin-top: 26px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .header {
    margin-bottom: 50px;
  }
}

.logo__text {
  font-family: "Tangerine", cursive;
  font-size: 20px;
  line-height: 1.8958333333;
  color: #CC9F5B;
}
@media screen and (min-width: 1200px) {
  .logo__text {
    font-size: 48px;
  }
}

.header__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__unordered {
  display: flex;
}

.navigation__list {
  display: none;
  transition: color 250ms;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    display: block;
  }
  .navigation__list:not(:last-child) {
    margin-right: 46px;
  }
}
.navigation__list:hover, .navigation__list:focus {
  color: #CC9F5B;
}

.navigation__list {
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  color: #ffffff;
}

.burger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .burger {
    display: none;
  }
}

.burger__line {
  height: 2px;
  background-color: #ffffff;
}

.hero__title {
  width: 230px;
  height: 120px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 745px;
    height: 277px;
  }
}

.hero__text {
  font-family: "Advent Pro";
  font-size: 30px;
  line-height: 1.0555555556;
  letter-spacing: 0.12em;
  color: #FFD089;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 90px;
  }
}

.hero__p {
  margin-top: 20px;
  width: 230px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__p {
    width: 745px;
    margin-top: 34px;
  }
}

.hero__p-text {
  color: #ffffff;
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .hero__p-text {
    font-size: 28px;
  }
}

.hero__button {
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    margin-top: 80px;
  }
}

.button-select {
  width: 90px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #CC9F5B;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3888888889;
  color: #ffffff;
  transition: all 200ms;
}
.button-select:hover, .button-select:focus {
  box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
}
.button-select:active {
  scale: 0.9;
  box-shadow: none;
}
@media screen and (min-width: 1200px) {
  .button-select {
    width: 284px;
    height: 86px;
    font-size: 36px;
    border-radius: 15px;
  }
}/*# sourceMappingURL=main.css.map */