.logo__text {
    position: relative;
    z-index: 2;
    font-family: 'Tangerine', cursive;
    font-size: 25px;
    width: 120px;
    line-height: calc(91 / 99);
    text-align: center;
    color: #CC9F5B;
    @include comp {
        font-size: 48px;
        width: 200px;
    }
}
.header__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation__unordered {
    display: flex;
}
.navigation__list {
    display: none;
    transition: color 250ms;
    cursor: pointer;
    @include comp {
        display: block;
    &:not(:last-child) {
            margin-right: 46px;
        }
    }
    &:hover,
    &:focus {
    color: #CC9F5B;
    }
}
.navigation__list {
    font-family: 'Lora', serif;
    font-weight: 400;
        font-size: 30px;
        line-height: calc(38 / 30);
        color: #ffffff;
}
.header__button {
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: none;
    outline: none;
    
}
.burger {
    
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include comp {
        display: none;
    }
}
.burger__line {
height: 2px;
background-color: #ffffff;
}
.hero__title {
    top: 20%;
    position: absolute;
    width: 300px;
    @include comp {
        width: 745px;
    }
}
.hero__text {
    font-family: 'Lora', serif;
    font-size: 48px;
        line-height: calc(76 / 72);
        letter-spacing: 0.12em;
        color: #CC9F5B;
        @include comp {
            font-size: 90px;
        }
}   
.hero__p {
    width: 300px;
    text-align: center;
    @include comp {
        width: 745px;
    }
}

.hero__button {
    position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
    @include comp {
        
    }
}
.button-select {
    width: 150px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #CC9F5B;
    font-weight: 400;
        font-size: 16px;
        line-height: calc(50 / 36);
        color: #ffffff;
        transition: all 200ms;
    &:hover,
    &:focus {
        box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
    }
    &:active {
        scale: 0.9;
        box-shadow: none;
    }
    @include comp {
        width: 284px;
        height: 86px;
        font-size: 36px;
        border-radius: 15px;
    }
}